* {
    margin:0;
    padding:0;
}

body {
    font-family: "宋体";
/*    font: large/1.5 "", serif; */
    background: #fff;
    color: #000;
}

.wrapper {
    width:800px;
    margin: 0 auto;
}

.header {
    padding:5px;
    margin: 20px auto;
    border: 1px;
    border-style:solid;
    border-color:#ccc;
}

.header h1 {
}

.header h2 {
    text-align:right;
}

.nav li {
    display: inline;
}

.main {
    padding:1em;
    border:1px;
    border-style:solid;
    border-color:#ccc;
    line-height:2em;
}

.main .title {
    margin-top: 0.5em;
    padding-bottom:0.5em;
    border-bottom:2px solid #999;
    margin-bottom:1em;
}

.main .title .text {
    font-size:180%;
}

.main .title .date {
    float:right;
    text-align:right;
}

.main h1 {
    font-size:150%;
}

.main h2 {
    font-size:120%;
}

.main p {
    line-height:1.5em;
    margin:1em 0 1em 0;
}

.footer {
    padding:5px;
    border:1px;
    margin: 20px auto;
    text-align: center;
    border-style:solid;
    border-color:#ccc;
}

.post_entries li {
    list-style:none outside;
}

.entry_header:before {
    content: "[";
}

.entry_header:after {
    content: "]";
}

ul {
    list-style-type:circle;
    list-style-position:inside;
}

ol {
    list-style-type:decimal;
    list-style-position:inside;
}