<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="blog,博客"/>
    <meta name="description" content="赵瑞哲的博客，学习和工作和工作的记录" />

    <!--    <link rel="stylesheet" media="all" href="/css/han.min.css"/> -->
    <link href="{{ site:url }}/css/main.css" rel="stylesheet" type="text/css"/>

    <script src="{{ site:url }}/css/jquery.min.js"></script> 
    <script src="{{ site:url }}/css/han.min.js"></script>

    <title>{{ page.title }}</title>

  </head>
  <body>
    <div class="wrapper">
      <div class="header">
	<h1><a href="{{ site:url }}/">赵瑞哲的博客</a></h1>
	<h2>写写、涂涂、画画</h2>
	<ul class="nav">
	  <li><a href="{{ site:url }}/">主页</a></li>
	  <li><a href="{{ site:url }}/">博客</a></li>
	</ul>
      </div>
